body {
    font-family: Arial, sans-serif;
    background-color: rgb(241, 180, 241);
    margin: 0;
    padding: 20px;
}

div {
    background: whitesmoke;
    width: 220px;
    padding: 12px;
    margin: 12px;
    border: 3px solid rgb(236, 52, 236);
    display: inline-block;
    text-align: center;
}

div img{
    width: 100%;
    height: 160px;
}
.product-box img {
    width: 100%;
    height: 160px;
}
