body {
    font-family: Arial, sans-serif;
    background-color: rgb(241, 189, 241);
    margin: 0;
    padding: 20px;
}

div {
    background: white;
    width: 220px;
    padding: 12px;
    margin: 12px;
    border: 3px solid rgb(236, 52, 236);
    display: inline-block;
    text-align: center;
}

